<div class="container">
    {# <nav class="navbar border-bottom">
        <div class="col-md-4">
            <a class="navbar-brand" href="/">My Biking App</a>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <a href="/signup" class="btn btn-sm btn-outline-primary">Sign up</a>
        </div>
    </nav> #}

    <header class="border-bottom py-2">
        <div class="row align-items-center">
            <div class="col-md-4">
                <a class="navbar-brand" href="/">My Biking App</a>
            </div>
            <div class="col-md-4"></div>
            {% if not app.user %}
                <div class="col-md-4 d-flex justify-content-end align-items-center">
                    <a href="{{ path('app_login') }}" class="mr-3">Login</a>
                    <a href="{{ path('app_user_registration') }}" class="btn btn-sm btn-outline-primary">Sign up</a>
                </div>
             {% else %}
                 <div class="col-md-4 d-flex justify-content-end">
                     <a href="{{ path('app_logout') }}">Logout</a>
                 </div>
             {% endif %}
        </div>
    </header>
</div>
